
.footer{
    width: 100vw;
    height: 780px;
    padding: 0 25px 0;
    position: relative;

    .footer_wrapper{
        height: 844px;
        width: 87%;
        border-radius: 19px;
        background: #FFF;
        padding: 59px 35px 30px 33px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-size: 0.75rem;

        .footer_content{
            display: flex;
            flex-direction: column;
            gap: 28px;
            padding: 0 1.36rem;
            margin-bottom: 1rem;
            .logo{
                display: flex;
                flex-direction: column;
                gap: 11px;

                img{
                    width: 74px;
                    height: auto;
                }
                p{
                    color: #888;
                    font-weight: 300;
                    line-height: 134.5%; /* 16.14px */
                    letter-spacing: -0.24px;
                }
            }
            .columns{
                p{
                    color: #CF8900;
                    font-weight: 600;
                    line-height: 134.5%;
                    letter-spacing: -0.015rem;
                    margin-bottom: 1.25rem;
                }
                ul {
                    list-style-type: none;
                    color: #7B7B7B;
                    font-weight: 400;
                    line-height: 143%;
                    letter-spacing: -0.01875rem;

                    li{
                        margin-bottom: 0.75rem;
                    }
                }
            }
        }
        .copyright{
            border-top: 1px solid #DDD;
            padding: 1.25rem 1.88rem;
            display: flex;
            flex-direction: column;
            gap: 1.3rem;
            color: #27292D;
            font-weight: 400;
            line-height: 1.25rem;
            letter-spacing: 0.00375rem;

            p>span{
                color: #0AB28B;
            }
            .socials{
                display: flex;
                gap: 1rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .footer{
        height: 700px;
        .footer_wrapper{
            font-size: 0.9rem;
            height: 760px;
            .footer_content{
                .logo{
                    max-width: 380px;
                }
            }
            .copyright{
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}
@media screen and (min-width: 1024px){
    .footer{
        height: 450px;
        .footer_wrapper{
            font-size: 0.9rem;
            height: 540px;
            font-size: 1.125rem;
            .footer_content{
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 5rem;
                .logo{
                    width: 45%;
                    max-width: 344px;
                    img{
                        width: 135px;
                    }
                }
                .columns{
                    margin-top: 3rem;
                }
            }
            .copyright{
                .socials{
                    gap: 2rem;
                }
            }
        }
    }
}