.main {
  /* min-height: 100vh; */
  .collaborate {
    padding: 0 1.5rem;

    .collaborate_container{
      height: 540px;
      border-radius: 0.875rem;
      border: 5px solid #FFF;
      background: #EEFFFC;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      
      .collaborate_bg{
        position: absolute;
        width: 100%;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .collaborate_content{
        display: flex;
        flex-direction: column;
        gap: 1.12rem;
        padding: 2rem 2.9rem 0;
        margin-top: 4rem;
        z-index: 2;

        h2{
          color: #000;
          font-size: 1.75rem;
          font-weight: 700;
          line-height: 95.5%;

          span{
            color: rgba(0, 0, 0, 0.50);
          }
        }
        p{
          color: #000;
          font-size: 0.75rem;
          font-weight: 300;
          line-height: 134.5%;
          letter-spacing: -0.015rem;
        }
      }

    }
  }

  .heritage{
    padding: 2rem 2rem 3rem;
    .heritage_content{
      .heritage_content_img{
        position: relative;
        .heritage_empty_box{
          background: #FFF;
          border-radius: 0rem 0.6rem 0.6rem;
          width: 100%;
          height: 200px;
          position: absolute;
          top: -1rem;
          left: -3rem;
        }
        .imgg{
          position: relative;
          // z-index: 2;
          img{
            
            width: 103%;
            height: auto;
          }

        }
      }
      .heritage_content_text{
        padding: 0 1rem 2.3rem;
        h2{
          font-size: 1.75rem;
          font-weight: 700;
          line-height: 95.5%;
          margin-bottom: 1rem;
        }
        p{
          font-size: 0.75rem;
          font-weight: 300;
          line-height: 134.5%;
          letter-spacing: -0.015rem;
        }
      }
    }
    .heritage_stats{
      height: 134px;
      border-radius: 0.86669rem;
      background: #FFF;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2.3rem;
      .heritage_stats_item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .number{
          font-size: 2.4rem;
          font-weight: 800;
          line-height: 143%;
          letter-spacing: -0.05988rem;
          margin-bottom: -1.1rem;
        }
        .label{
          border-radius: 3.19388rem;
          background: #F1DDC4;
          font-size: 0.6rem;
          margin-bottom: 0.8rem;
          display: flex;
          padding: 0.4rem 1rem;
          justify-content: center;
          align-items: center;
          gap: 0.2495rem;
        }
      }
    }
  }
}
