.main {
  /* min-height: 100vh; */

  .heritage{
    padding: 2rem 2rem 3rem;
    .heritage_content{
      .heritage_content_img{
        position: relative;
        .heritage_empty_box{
          background: #FFF;
          border-radius: 0rem 0.6rem 0.6rem;
          width: 100%;
          height: 200px;
          position: absolute;
          top: -1rem;
          left: -3rem;
        }
        .imgg{
          position: relative;
          // z-index: 2;
          img{
            
            width: 103%;
            height: auto;
          }

        }
      }
      .heritage_content_text{
        padding: 0 1rem 2.3rem;
        h2{
          font-size: 1.75rem;
          font-weight: 700;
          line-height: 95.5%;
          margin-bottom: 1rem;
        }
        p{
          font-size: 0.75rem;
          font-weight: 300;
          line-height: 134.5%;
          letter-spacing: -0.015rem;
        }
      }
    }
    .heritage_stats{
      height: 134px;
      border-radius: 0.86669rem;
      background: #FFF;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2.3rem;
      .heritage_stats_item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .number{
          font-size: 2.4rem;
          font-weight: 800;
          line-height: 143%;
          letter-spacing: -0.05988rem;
          margin-bottom: -1.1rem;
        }
        .label{
          border-radius: 3.19388rem;
          background: #F1DDC4;
          font-size: 0.6rem;
          margin-bottom: 0.8rem;
          display: flex;
          padding: 0.4rem 1rem;
          justify-content: center;
          align-items: center;
          gap: 0.2495rem;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .main{
    .heritage{
      .heritage_content{
        .heritage_content_text{
          h2{
            font-size: 2rem;
          }
          p{
            font-size: 0.85rem;
          }
        }
      }
      .heritage_stats{
        height: 150px;
        justify-content: space-around;
        .heritage_stats_item{
          .number{
            font-size: 3.5rem;
            margin-bottom: -1.5rem;
          }
          .label{
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .main{
    .heritage{
      padding: 2rem 7rem 7rem;
      display: flex;
      gap: 6rem;
      width: 100vw;
  
      .heritage_content{
        width: 65%;
        margin-top: 2.5rem;
        .heritage_content_img{
          position: relative;
          .heritage_empty_box{
            background: #FFF;
            border-radius: 0rem 0.6rem 0.6rem;
            width: 100%;
            height: 80%;
            position: absolute;
            top: -2rem;
            left: -8rem;
          }
        }
        .heritage_content_text{
          padding: 0 0;
          h2{
            font-size: 4rem;
            margin-bottom: 2.56rem;
          }
          p{
            font-size: 1.125rem;
            letter-spacing: -0.0225rem;
            margin-bottom: 3.6rem;
          }
        }
      }
      .heritage_stats{
        align-self: center;
        width: 32%;
        height: auto;
        border-radius: 1.625rem;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 1.5rem;
        padding: 5.8rem 2rem;
        .heritage_stats_item{
          .number{
            font-size: 6rem;
            letter-spacing: -0.15rem;
            margin-bottom: -2.4rem;
          }
          .label{
            border-radius: 5rem;
            font-size: 1.5rem;
            margin-bottom: 0.8rem;
            padding: 0.8rem 1.5rem;
            gap: 0.2495rem;
          }
        }
      }
    }
  }
}
