

.accolades{
    border-radius: 1.3rem;
    border: 4px solid #FFF;
    background: #F2F2F2;
    margin: 0 0.6rem 2.5rem;

    .accolades_header{
        margin: 2.3rem 1.3rem 1.75rem 2.4rem;
        h4{
            border-radius: 2.875rem;
            display: inline-flex;
            padding: 0.9375rem 1.4375rem;
            justify-content: center;
            align-items: center;
            background: #0CAD8E;
            font-family: 'Prompt', sans-serif;
            text-transform: uppercase;
            color: #FFF;
            font-weight: 800;
            font-size: 0.75rem;
            margin-bottom: 1.3rem;
        }
        h2{
            font-size: 1.75rem;
            font-weight: 800;
            line-height: 95.5%;
        }
    }
    .accolades_content{
        margin: 0 2.13rem 0 2.4rem;
        
        .acc_article{
            border-radius: 1.1875rem;
            background: #FFF;
            padding: 2.25rem 0 1.12rem;
            margin-bottom: 1.1rem;
            h4{
                font-size: 1.25rem;
                font-weight: 800;
                padding-left: 2rem;
                padding-right: 2rem;
                line-height: 95.5%;
                margin-bottom: 1rem;
            }
            p{
                color: #888;
                font-size: 0.75rem;
                padding-left: 2rem;
                padding-right: 2rem;
                font-weight: 300;
                line-height: 134.5%;
                letter-spacing: -0.015rem;
                margin-bottom: 1.4rem;
            }
            img{
                width: 100%;
                padding-left: 1.19rem;
                padding-right: 1.19rem;
                height: auto;
            }
        }
        .acc_names{
            height: 130px;
            overflow: hidden;
            .acc_names_wrapper{
                display: flex;
                gap: 0.35rem;
                overflow-x: scroll;
                height: 150px;

                .name, .name_active{
                    min-width: 124px;
                    text-transform: capitalize;
                    border-radius: 0.34rem;

                    h4{
                        font-size: 0.7rem;
                        font-weight: 700;
                        line-height: 95.5%;
                    }
                }
                .name_active{
                    background: #0CAD8E;
                    height: 95px;
                    padding: 1.1rem 1.3rem;

                    img{
                        width: 21px;
                        height: auto;
                    }
                    h4{
                        color: #FFF;
                        
                    }
                }
                .name{
                    background: #F6F6F6;
                    display: flex;
                    height: 51px;
                    padding: 0.7rem 1.5rem;
                    justify-content: center;
                    align-items: center;
                    gap: 0.2rem;

                    h4{
                        color: #000;
                    }
                }

            }
        }
    }
}

@media screen and (min-width: 768px) {
    .accolades{
        .accolades_content{
            display: flex;
            justify-content: space-around;
            gap: 0.8rem;
            width: 95%;
            margin: 0 auto;

            .acc_article{
                width: 66%;
                h4{
                    font-size: 1.6rem;
                }
                p{
                    font-size: 0.85rem;
                }
            }
            .acc_names{
                width: 27%;
                height: 500px;
                .acc_names_wrapper{
                    flex-direction: column;
                    height: 100%;
                    gap: 1rem;
                    .name, .name_active{
                        h4{
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .accolades{
        border-radius: 2.25rem;
        border: 7px solid #FFF;
        margin: 0 5rem 5rem;
    
        .accolades_header{
            margin: 7rem 1.3rem 5rem 9rem;
            h4{
                border-radius: 2.875rem;
                padding: 1.2rem 1.8rem;
                font-size: 1.25rem;
                margin-bottom: 1.4rem;
            }
            h2{
                font-size: 4rem;
            }
        }
        .accolades_content{
            margin: 0 3rem;
            width: 93%;
            
            .acc_article{
                padding: 5rem 0 1.12rem;
                margin-bottom: 1.8rem;
                width: 60%;
                h4{
                    font-size: 2.25rem;
                    padding-left: 5rem;
                    padding-right: 5rem;
                    margin-bottom: 2.75rem;
                }
                p{
                    font-size: 1.125rem;
                    padding-left: 5rem;
                    padding-right: 5rem;
                    letter-spacing: -0.0225rem;
                    margin-bottom: 3.5rem;
                }
                img{
                    padding-left: 2rem;
                    padding-right: 2rem;
                }
            }
            .acc_names{
                height: max-content;
                width: 35%;
                .acc_names_wrapper{
                    gap: 1rem;
    
                    .name, .name_active{
                        width: 100%;
                        border-radius: 1rem;
    
                        h4{
                            font-size: 2.25rem;
                            line-height: 95.5%;
                        }
                    }
                    .name_active{
                        height: 270px;
                        padding: 3rem 4rem;
    
                        img{
                            width: 64.5px;
                        }
                    }
                    .name{
                        height: 160px;
                        padding: 2rem 4rem;
                        gap: 0.3rem;
                    }
    
                }
            }
        }
    }
}