
.entertainment{
    width: 87vw;
    padding: 0 1.5rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .title{
        color: #FFF;
        font-size: 2.5rem;
        font-weight: 800;
        line-height: 95.5%;
    }

    // .entertainment_wrapper{
    //     width: 100%;
    // }

    .entertainment_details{
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        border-radius: 1.055rem;
        background: #F4F4F4;
        padding-top: 2.8rem;

        h3{
            margin: 0 2.5rem;
            color: #000;
            font-size: 1.75rem;
            font-weight: 700;
            line-height: 95.5%;
            text-transform: capitalize;
        }
        p{
            color: #888;
            font-size: 0.70331rem;
            font-weight: 300;
            line-height: 134.5%;
            letter-spacing: -0.01406rem;
            margin: 0 2.5rem;
        }
        img{
            width: 100%;
            height: auto;
            padding: 0 1rem;
            margin-bottom: 1.2rem;
        }
    }
}
@media screen and (min-width: 768px) {
    .entertainment{
        flex-direction: row;

        .title{
            min-width: 39%;
            font-size: 4rem;
            text-align: right;
        }
        .entertainment_details{
            h3{
                font-size: 2rem;
            }
            p{
                font-size: 0.85rem;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .entertainment{
        padding: 0 3rem;
        margin-bottom: 8rem;
        margin-top: 4rem;
        gap: 4rem;
    
        .title{
            font-size: 9rem;
        }
    
        .entertainment_details{
            gap: 1.6rem;
            border-radius: 1.68rem;
            padding-top: 4rem;
    
            h3{
                margin: 0 5.6rem;
                font-size: 4rem;
            }
            p{
                font-size: 1.125rem;
                letter-spacing: -0.0225rem;
                margin: 0 5.6rem;
            }
            img{
                width: 100%;
                height: auto;
                padding: 0 1.25rem;
                margin-bottom: 1.2rem;
            }
        }
    }
}